.show {
    display: block;
}

.hide {
    display: none;
}

.left__panel {
    position: fixed;
    left: 1143px;
    top: 500px;
    z-index: 9999;
}

.line {
    width: 20px;
    height: 3px;
    position: fixed;
    background-color: black;
    border-radius: 5px;
    z-index: 9999;
}